/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:d8e3823dcf5494df1af31ad0505ca50b:9ddfe7623363991ebbee6cb859dca4c3:63c5740f9dc8b78a3b68639fec9ba7a6$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(bubblesTexture.png);}

.Boxy0001 {width:256px; height:217px; background-position: -0px -0px}
.Boxy0002 {width:256px; height:217px; background-position: -0px -217px}
.Boxy0003 {width:256px; height:217px; background-position: -256px -0px}
.Boxy0004 {width:256px; height:217px; background-position: -256px -217px}
.Boxy0005 {width:256px; height:217px; background-position: -512px -0px}
.Boxy0006 {width:256px; height:217px; background-position: -512px -217px}
.Boxy0007 {width:256px; height:217px; background-position: -768px -0px}
.Boxy0008 {width:256px; height:217px; background-position: -768px -217px}
.Boxy0009 {width:256px; height:217px; background-position: -1024px -0px}
.Boxy0010 {width:256px; height:217px; background-position: -1024px -217px}
.Boxy0011 {width:256px; height:217px; background-position: -1280px -0px}
.Boxy0012 {width:256px; height:217px; background-position: -1280px -217px}
.Boxy0013 {width:256px; height:217px; background-position: -1536px -0px}
.Boxy0014 {width:256px; height:217px; background-position: -1792px -0px}
.Boxy0015 {width:256px; height:217px; background-position: -1536px -217px}
